{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}

{% block overrides %}
    {{ block.super }}
{% endblock overrides %}

        <!-- end head -->

        <!-- start content -->

{% block header %}
    {{ block.super }}
{% endblock header %}

{% block top-nav %}
    {{ block.super }}
{% endblock top-nav %}

{% block side-nav %}
    {{ block.super }}
{% endblock side-nav %}

{% block content %}
    {{ flatpage }}
{% endblock content %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}