.clear {
    clear: both;
    display: block;
    width: 100%;
    height: 1px;
}
.menu {
    position: relative;
}
.menu-sub, .sub-menu {
    display: none;
    position: absolute;
}
.menu-item {
    display: block;
    position: relative;
}
.menu, .sub-menu, .menu-sub, .menu-item {
    margin; 0;
    padding: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center-content {
    text-align: center;
}
.wrapper, .container {
    display: block;
    margin: auto;
}
.wrapper {
    max-width: 100%;
}
.container {
    width: 85%;
}
.responsive {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto;
}
.drop-down {
    cursor: pointer;
}
.drop-down:hover {
    box-shadow: inner 0px 0px 4px 1px #fff;
}
.no-float {
    float: none!important;
}